<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../fragmente/head') %>
    <link rel="stylesheet" href="/resources/css/style.css">
  </head>
  <body>
    <header>
      <%- include('../fragmente/header') %>
    </header>
    <main>
        <section id="description">
            <div id="poza">
                <img src="/resources/images/fp_pic.jpg">
            </div>
            <div id="text">
                <h2>Welcome!</h2>
                <p>Shop the best and most loved beauty products on the market on our website! We at Luxe Cult Classics
                    are here to make your self care time the most enjoyable and luxurious as possible. All of our
                    products are 100% authentic and the best quality, as we collaborate directly with your favourite
                    brands to bring them all in one place and make shopping easier! You don't have to listen to us...but
                    shop 'till you drop! </p>
            </div>
        </section>
        <section class="slide">
            <blockquote cite="https://www.harpersbazaar.com/fashion/designers/g32971271/best-coco-chanel-quotes/"><q>If
                    you're sad, add more lipstick and attack.</q><b> - Coco Chanel</b></blockquote>
            <figure>
                <a href="advent.html">
                    <img src="/resources/images/advent.jpg" alt="Charlotte Tilbury 2024 Advent Calendar">
                </a>
                <figcaption>
                    <h2>The Charlotte Tilbury 2024 Advent Calendar is Here! Check What's Inside</h2>
                </figcaption>
            </figure>
            <div><a href="advent.html">Shop Now</a></div>
        </section>
        <section class="slide">
            <figure>
                <a href="cali.html">
                    <img src="/resources/images/cali.jpg" alt="Calivita Beauty Formula">
                </a>
                <figcaption>
                    <h2>The Golden Ratio Formula
                        <math>
                            <mi>&phi;</mi>
                            <mo>=</mo>
                            <mfrac>
                                <mrow>
                                    <mn>1</mn>
                                    <mo>+</mo>
                                    <msqrt>
                                        <mn>5</mn>
                                    </msqrt>
                                </mrow>
                                <mn>2</mn>
                            </mfrac>
                        </math>
                        , also known as The Beauty Formula, now in pill form to help you achieve perfection!
                    </h2>
                </figcaption>
            </figure>
            <div><a href="advent.html">Shop Now</a></div>
        </section>

        <section>
            <h2 id="newin">NEW IN</h2>
            <h3 id="title_ch">Christmas Specials <i class="fa-solid fa-gift"></i></h3>
            <div id="newdiv">
                <a href="laneige_egg.html">
                    <figure>
                        <picture>
                            <source srcset="/resources/images/laneige_eggS.jpg" media="(max-width:500px)">
                            <source srcset="/resourcesimages/laneige_eggM.jpg" media="(max-width:850px)">
                            <img src="/resources/images/laneige_eggL.jpg"
                                alt="Laneige Egg Nog Lip Sleeping Mask">
                        </picture>
                        <figcaption>
                            <p>Laneige Eggnog Latte Lip Sleeping Mask</p>
                            <p><s>$25.00 </s> <ins> $20.00</ins></p>
                        </figcaption>
                    </figure>
                </a>

                <a href="yognog.html">
                    <figure>
                        <picture>
                            <source srcset="/resources/images/yognogS.jpg" media="(max-width:500px)">
                            <source srcset="/resources/images/yognogM.jpg" media="(max-width:850px)">
                            <img src="/resources/images/yognogL.jpg" alt="Lush Yog Nog Shower Gel">
                        </picture>
                        <figcaption>
                            <p>Lush Yog Nog Shower Gel</p>
                            <p>$11.00</p>
                        </figcaption>
                    </figure>
                </a>
                <a href="diorseq.html">
                    <figure>
                        <picture>
                            <source srcset="/resources/images/diorseqS.png" media="(max-width:500px)">
                            <source srcset="/resources/images/diorseqM.png" media="(max-width:850px)">
                            <img src="/resources/images/diorseqL.png" alt="Rouge Dior Forever Liquid Sequin">
                        </picture>
                        <figcaption>
                            <p>Rouge Dior Forever Liquid Sequin</p>
                            <p>$49.00</p>
                        </figcaption>
                    </figure>
                </a>

                <a href="diptyquec1.html">
                    <figure>
                        <picture>
                            <source srcset="/resources/images/diptyquecS.png" media="(max-width:500px)">
                            <source srcset="/resources/images/diptyquecM.png" media="(max-width:800px)">
                            <img src="/resources/images/diptyquecL.png"
                                alt="Diptyque Friandise (Sweet Treat) Classic Candle">
                        </picture>
                        <figcaption>
                            <p> Diptyque Friandise (Sweet Treat) Classic Candle</p>
                            <p>$84.00</p>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </section>

        <section id="vid">
            <h2 id="beautysecret">Beauty Secrets!</h2>
            <iframe id="videoFrame" src="https://www.youtube.com/embed/O_qgaOUR3Fo"
                title="Hailey Bieber&#39;s Date Night Skin Care &amp; Makeup Routine | Beauty Secrets | Vogue"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" name="ifr-video" allowfullscreen></iframe>
            <div class="container">
                <div class="button" onclick="loadVideo('O_qgaOUR3Fo')">Hailey Bieber</div>
                <div class="button" onclick="loadVideo('PYS3UZFPJWI')">Kendall Jenner</div>
                <div class="button" onclick="loadVideo('9K_CZizKdVs')">Madison Beer</div>
            </div>
        </section>
        <section>
            <video width="100%" height="auto" controls preload="auto" poster="resources/images/poster.jpg">
                <source src="/resources/videos/video.mp4" type="video/mp4">
                <source src="/resources/videos/video.webm" type="video/webm">
                
                <track src="/resources/vtt/subtitles_ro.vtt" kind="subtitles" srclang="ro" label="Română" default>
                <track src="/resources/vtt/subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
                
                Your browser does not support the video tag.
              </video>
        </section>
        <hr class="decorativ">
        <section id="coupon">
            <a href="/resources/images/code.jpg" target="_blank" download>
                <div class="coupon-image"></div>
            </a>
            <h2>Come get your 30% off coupon NOW!</h2>
        </section>



        <section class="container">
            <div id="calendar">
                <h3>Event Calendar</h3>
                <p> 20 January - 30% off sitewide </p>
            </div>
            <div id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Influencer Name</th>
                            <th>Platform</th>
                            <th>Followers</th>
                            <th>Experience</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Huda Kattan</td>
                            <td>Instagram</td>
                            <td>48M</td>
                            <td rowspan="2">Makeup Expert</td>
                        </tr>
                        <tr>
                            <td>Nikkie de Jager</td>
                            <td>YouTube</td>
                            <td>14M</td>
                        </tr>
                        <tr>
                            <td>Michelle Phan</td>
                            <td>Facebook</td>
                            <td>8M</td>
                            <td>Product Creation</td>
                        </tr>
                        <tr>
                            <td>James Charles</td>
                            <td>Instagram</td>
                            <td>23M</td>
                            <td>Brand Collaborations</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">These influencers recommend our website!</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="announcement">
                <h3>Announcements</h3>
                <p>Site will be down today at 20:00</p>
            </div>
        </section>

        <section class="container">
            <div class="div_cont">
                <h3>Online Users</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, eveniet dicta unde magni molestias,
                    adipisci, delectus ad corrupti ipsum ratione quibusdam? Excepturi enim incidunt molestias.
                    Laudantium velit fugiat possimus totam! </p>
            </div>
            <div class="div_cont">
                <h3>Stats</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos tenetur officiis voluptatibus
                    accusamus! Ducimus, deleniti? Iste reiciendis alias explicabo ducimus facilis nostrum nesciunt
                    corporis assumenda, maxime natus repudiandae ex aliquid.</p>
            </div>
            <div class="div_cont">
                <h3>Data</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde consectetur eaque libero enim rem
                    repellat magnam dicta sequi consequatur adipisci, aperiam sint omnis ad, quaerat reprehenderit modi
                    molestiae asperiores fugiat!</p>
            </div>
        </section>
        <section>
            <h2 id="faqt">FAQ</h2>
            <div id="faq">
                <details>
                    <summary>Who are we?</summary>
                    <p>We are a recently opened online store that only sells the best products on the market, handpicked
                        by us.</p>
                </details>
                <details>
                    <summary>Where do you deliver?</summary>
                    <p>We deliver worldwide for the price of $5.00 and for <strong>free</strong> in Romania.</p>
                </details>
                <details>
                    <summary>What is the return policy?</summary>
                    <p>The return policy can be read <a id="policy"
                            href="https://europa.eu/youreurope/citizens/consumers/shopping/guarantees-returns/index_en.htm"
                            target="_blank">here.</a></p>
                </details>
                <details>
                    <summary>What does Cult Classics mean?</summary>
                    <p><i>Cult Classic:</i> <dfn>something, typically a film or book, that is popular or fashionable
                            among a particular group or section of society.</dfn> In our case, it's about cosmetic
                        products.</p>
                </details>
            </div>
        </section>
        <button class="return-button" id="returnButton" data-tooltip="Back to Top">
            <span class="arrow">&#8593;</span>
        </button>
        <hr>
        <script src="/resources/js/script.js"></script>
    </main>
    <footer>
      <%- include('../fragmente/footer') %>
    </footer>
  </body>
</html>