<footer>
    <p>Contact us down below!</p>
        <div id="contact">
            <ul>
                <li><a href="tel:+40770287189">Telephone</a></li>
                <li><a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x40b1ff472f47f047:0x493984726f0235f9?sa=X&ved=1t:8290&ictx=111"
                        target="_blank">Address</a></li>
                <li><a href="mailto:luxecultclassics@gmail.com" target="_blank">Mail</a></li>
                <li><a href="https://wa.me/+40770287189">WhatsApp</a> </li>
            </ul>
        </div>
        <p id="banner">Acesta este un proiect școlar!</p>
        <p><small>&copy; Luxe Cult Classics<time datetime="2024-10-20"> 20 Octombrie 2024.</time> Toate drepturile
                rezervate.</small></p>
        <div id="watermark">Balan Alexandra</div>
  </footer>