
    <div>
        <h1><a href="/index">Luxe Cult Classics</a><a href="/basket"><img id="basket"
                    src="resources/images/cart.png" alt="Shopping Cart"></a></h1>
    </div>

    <nav class="menu">
        <div class="navbar">
            <a class="navlist" href="/index">Home</a>
            <hr>
            <ul>
                <li><a href="#newin">New In</a></li>
                <li><a href="#beautysecret">Beauty Secrets</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="navbar">
            <a class="navlist" href="/makeup">Make up</a>
            <hr>
            <ul>
                <li><a href="/eyes">Eyes</a></li>
                <li><a href="/lips">Lips</a></li>
                <li><a href="/complexion">Complexion</a></li>
            </ul>
        </div>
        <div class="navbar">
            <a class="navlist" href="/skincare">Skincare</a>
            <hr>
            <ul>
                <li><a href="/cleanser">Cleansers and Toners</a></li>
                <li><a href="/moist">Moisturizers and Serums</a></li>
                <li><a href="/masks">Masks</a></li>
                <li><a href="/eyenlip">Eyes and Lips</a></li>
            </ul>
        </div>
        <div class="navbar">
            <a class="navlist" href="/body">Body & Hair</a>
            <hr>
            <ul>
                <li><a href="/niche">Niche Perfumes</a></li>
                <li><a href="/hair">Hair Care</a></li>
                <li><a href="/lotion">Creams and Lotions</a></li>
                <li><a href="/shower">Shower Essentials</a></li>
                <li><a href="/others">Others</a></li>
            </ul>
        </div>
    </nav>
